<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
 	<h:head>
   	</h:head>   
   	<h:body> 
		<div id="page"> 
	    	<div id="header">
	    		<ui:include src="/templates/header.xhtml" />
				<ui:insert name="header"/>
	    	</div> 
	    	<div id="content">
	    		<ui:include src="/templates/content.xhtml" />
	  			<ui:insert name="content"/>
	    	</div> 
	    	<div id="footer">
	    		<ui:include src="/templates/footer.xhtml" />
	    		<ui:insert name="footer"/>
    		</div> 
   		</div> 
    </h:body>	
</html>