<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:body> 
	<ui:composition template="/templates/templateMain.xhtml">
		<ui:define name="content">			
			<h:form id="form">
			<div align="left">
               <a href="home.xhtml"  > <h:graphicImage url="/resources/images/Home.png"/> </a> <h:graphicImage url="/resources/images/Alumnos.png"/>
            </div>
			    <div align="center">
				<h:panelGrid columns="2">		 		
		 			<p:outputLabel value="Nombre" />
		      		<p:inputText  value="#{alumnoBean.nombre}" size="18" />
		      		
		      		<p:outputLabel value="DNI" />
		      		<p:inputText  value="#{alumnoBean.dni}" size="18" />
		      		
		        	<p:commandButton actionListener="#{alumnoBean.buscarAlumno}"  value="Buscar" title="Buscar" update="alumnos" icon="ui-icon-search" />
		        	<p:commandButton actionListener="#{alumnoBean.nuevo}"   value="Nuevo"  title="Nuevo"  oncomplete="PF('alumno').show()" update=":frmAlumno" icon="ui-icon-plus" /> 
				</h:panelGrid>
				</div>
				
				<p:dataTable id="alumnos" value="#{alumnoBean.alumnos}" var="alumno" styleClass="scrollerTable"
						paginator="false" headerClass="standardTable_Header"	footerClass="standardTable_Header"
	        			columnClasses="columna_abajoderecha,columna_abajoderecha,columna_abajo"	preserveDataModel="false" rows="17"
	        			emptyMessage="Aun sin datos, presione buscar">			
					
					<p:column>
					  <p:commandButton  actionListener="#{alumnoBean.modificar}"  value="Modificar"  oncomplete="PF('alumno').show()" update=":frmAlumno" icon="ui-icon-gear">	
					    <f:setPropertyActionListener value="#{alumno}" target="#{alumnoBean.alumno}"/>										
						</p:commandButton>
					</p:column>
					<p:column>
						<f:facet name="header" style="width:50%">
							<h:outputText value="Legajo"/>
						</f:facet>		
						<h:outputText value="#{alumno.legajo}"/>
					</p:column>
					
					<p:column>
						<f:facet name="header" style="width:50%">
							<h:outputText value="DNI"/>
						</f:facet>		
						<h:outputText value="#{alumno.dni}"/>
					</p:column>
					
					<p:column>
						<f:facet name="header" style="width:50%">
							<h:outputText value="Nombre"/>
						</f:facet>		
						<h:outputText value="#{alumno.nombre}"/>
					</p:column>
					
					<p:column>
						<f:facet name="header" style="width:50%">
							<h:outputText value="Apellido"/>
						</f:facet>		
						<h:outputText value="#{alumno.apellido}"/>
					</p:column>
					
					<p:column>
						<f:facet name="header" style="width:50%">
							<h:outputText value="Fecha Nacimiento"/>
						</f:facet>		
						<h:outputText value="#{alumno.fechaNacimiento}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>					
					</p:column>
					
					<p:column>
						<f:facet name="header" style="width:50%">
							<h:outputText value="Domicilio"/>
						</f:facet>		
						<h:outputText value="#{alumno.domicilio}"/>
					</p:column>
					
					<p:column>
						<f:facet name="header" style="width:50%">
							<h:outputText value="Email"/>
						</f:facet>		
						<h:outputText value="#{alumno.email}"/>
					</p:column>
					
					<p:column>
						<f:facet name="header" style="width:50%">
							<h:outputText value="Telefono"/>
						</f:facet>		
						<h:outputText value="#{alumno.telefono}"/>
					</p:column>
					
					<p:column>
					  <p:commandButton action="#{alumnoBean.eliminar}" title="Eliminar" ajax="true" update="alumnos" value="Eliminar" icon="ui-icon-close">
							<f:setPropertyActionListener value="#{alumno}" target="#{alumnoBean.alumno}"/>	
               			    <p:confirm header="confirmar" icon="ui-icon-alert" message="Eliminar" />									
						</p:commandButton>
					</p:column>							
				</p:dataTable>
			</h:form>
			
			<p:confirmDialog global="true" showEffect="fade" hideEffect="explode" closable="false">
	          <div align="center">
       	      <p:commandButton value="SI" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
              <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
	          </div>
	        </p:confirmDialog>
			
			<p:dialog id="dlgAlumno" widgetVar="alumno" resizable="false" header="GESTION DE ALUMNO" modal="true"  closable="false" footer="Presione Esc para salir" closeOnEscape="true" >
			<p:growl id="message" showDetail="true" />
				<p:messages globalOnly="true"/>
				<h:form id="frmAlumno">
					<h:panelGrid columns="3">
						
						<h:outputLabel value="legajo"/>
						<p:inputText id="legajo" value="#{alumnoBean.alumno.legajo}" disabled="false"  requiredMessage="Legajo Requerido" size="20" maxlength="20"/>							
						<p:message for="legajo" />
						
						<h:outputLabel value="DNI"/>
						<p:inputText id="dni" value="#{alumnoBean.alumno.dni}" required="true" requiredMessage="DNI Requerido" size="20" maxlength="8"/>							
						<p:message for="dni"/>
						
						<h:outputLabel value="Nombre"/>
						<p:inputText id="nombre" value="#{alumnoBean.alumno.nombre}" required="true" requiredMessage="Nombre Requerida" size="20" maxlength="6"/>							
						<p:message for="nombre"/>
						
						<h:outputLabel value="Apellido"/>
						<p:inputText id="apellido" value="#{alumnoBean.alumno.apellido}" required="true" requiredMessage="Apellido Requerido" size="20" maxlength="20"/>							
						<p:message for="apellido" />
						
						<h:outputLabel value="Fecha Nacimiento"/>
						<p:calendar id="fechaNacimiento" value="#{alumnoBean.alumno.fechaNacimiento}" required="true" requiredMessage="Fecha Requerida " size="20" maxlength="20"/>							
						<p:message for="fechaNacimiento" />
					
						
						<h:outputLabel value="Domicilio"/>
						<p:inputText id="domicilio" value="#{alumnoBean.alumno.domicilio}" required="true" requiredMessage="Domicilio Requerido" size="20" maxlength="8"/>							
						<p:message for="domicilio"/>
						
						<h:outputLabel value="Email"/>
						<p:inputText id="email" value="#{alumnoBean.alumno.email}" required="true" requiredMessage="Email Requerido" size="20" maxlength="20">							
						<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
						</p:inputText>
						
						<p:message for="email"/>
						
						<h:outputLabel value="Telefono"/>
						<p:inputText id="telefono" value="#{alumnoBean.alumno.telefono}" required="true" requiredMessage="Telefonno Requerido" size="20" maxlength="20"/>							
						<p:message for="telefono" />
		      		</h:panelGrid>	
		      		<div align="center">	
		      		<p:commandButton  value="Guardar"  action="#{alumnoBean.guardar}" update=":frmAlumno" icon="ui-icon-check"/>      			
								
				    </div>	
				</h:form>
			</p:dialog>
		
		</ui:define>
	</ui:composition>
</h:body>
</html>