<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
<h:head>
	<div align="center">
    <br />
    <h1>Bienvenidos</h1>
    <h1>Sistema de Alumnos</h1>
    <br />
   </div> 	
</h:head>
<h:body>
  <div align="center">
		<h:form  id="form" >			
			<p:messages globalOnly="true"/>
			<h:panelGrid columns="3" style="align: center;">	
				<p:outputLabel value="Usuario"/>		
				<p:inputText id="usuario" value="#{usuarioBean.usuario2}" maxlength="10" size="8" required="true" requiredMessage="#{msg.usuario_requerido}">
				</p:inputText>
				
				<p:message for="usuario" showSummary="false" showDetail="true"/>		
				<p:outputLabel  value="Clave"/>
				
				<p:password id="clave" value="#{usuarioBean.clave}" maxlength="10" size="8" required="true" requiredMessage="#{msg.clave_requerida}"/>
				<p:message for="clave" showSummary="false" showDetail="true"/>
			</h:panelGrid>
			
			<p:commandButton value="#{msg.boton_ingresar}" action="#{usuarioBean.validarUsuario}" update="form" />
		</h:form>
</div>

</h:body>
</html>


