<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:body>
	<ui:composition template="/templates/templateMain.xhtml">
	<ui:define name="content">			
	   <h:form id="form">
		 <div align="left">
          <a href="home.xhtml"  > <h:graphicImage url="/resources/images/Home.png"/> </a> <h:graphicImage url="/resources/images/MisDatos.png"/>
         </div>
			    <div align="center">
				  <h:panelGrid columns="2">
					
					<p:outputLabel value="Usuario" />
		      		<p:inputText   value="#{usuarioBean.usuario.usuario}" size="18" disabled="true" />
		      			 		
		 			<p:outputLabel value="Nombre" />
		      		<p:inputText   value="#{usuarioBean.usuario.nombre}" size="18" disabled="true" />
		      		
		      		<p:outputLabel value="Apellido" />
		      		<p:inputText   value="#{usuarioBean.usuario.apellido}" size="18" disabled="true" />
		      				      	
		      		<p:outputLabel value="DNI"/>
                    <p:inputText   value="#{usuarioBean.usuario.dni}" 	size="18" disabled="true"  />
                    
                    
                    <p:outputLabel value="Email" />
		      		<p:inputText   value="#{usuarioBean.usuario.email}" size="18" disabled="true"  />
		      				      
					<p:outputLabel value="Clave" />
		      		<p:password   value="#{usuarioBean.usuario.clave}"  size="18" disabled="true"  />
		      				      	
		      		<p:commandButton actionListener="#{usuarioBean.modificar}"  value="Modificar"  oncomplete="PF('usuario').show()" update=":frmUsuario" icon="ui-icon-gear">			      	
		      		<f:setPropertyActionListener value="#{usuario}" target="#{usuarioBean.usuario}"/>										
					</p:commandButton>    	
		        	<p:commandButton action="#{usuarioBean.salir}"  value="Salir"  title="Salir"/> 
				  </h:panelGrid>
				</div>	
       </h:form>
       
       <p:dialog id="dlgUsuario" widgetVar="usuario" resizable="false" header="GESTION DE USUARIOS" modal="true"  closable="false" footer="Presione Esc para salir" closeOnEscape="true">
			<p:growl id="message" showDetail="true" />
				<p:messages globalOnly="true"/>
				<h:form id="frmUsuario">
					<h:panelGrid columns="3">
						
					    <h:outputLabel value="Usuario"/>
						<p:inputText id="usuario1" value="#{usuarioBean.usuario.usuario}" disabled="true" requiredMessage="Nombre Requerido" size="20" maxlength="20"/>							
						<p:message for="usuario1" />
						
						<h:outputLabel value="Nombre"/>
						<p:inputText id="nombre" value="#{usuarioBean.usuario.nombre}" required="true" requiredMessage="Nombre Requerido" size="20" maxlength="20"/>							
						<p:message for="nombre" />
						
						<h:outputLabel value="Apellido"/>
						<p:inputText id="apellido" value="#{usuarioBean.usuario.apellido}" required="true" requiredMessage="Apellido Requerido" size="20" maxlength="20"/>							
						<p:message for="apellido" />
						
						<h:outputLabel value="DNI"/>
						<p:inputText id="dni" value="#{usuarioBean.usuario.dni}" required="true" requiredMessage="Documento Requerido" size="20" maxlength="8"/>							
						<p:message for="dni"/>
		
						
						<h:outputLabel value="Clave"/>
						<p:inputText id="clave" value="#{usuarioBean.usuario.clave}" required="true" requiredMessage="clave Requerida" size="20" maxlength="10"/>							
						<p:message for="clave"/>
						
						<h:outputLabel value="Email"/>
						<p:inputText id="email" value="#{usuarioBean.usuario.email}" required="true" requiredMessage="email Requerido" size="20" maxlength="20"/>							
						<p:message for="email" />
						
		      		</h:panelGrid>
		      		
		      		<div align="center">
		      		<p:commandButton  value="Guardar" action="#{usuarioBean.guardarMisDatos}" update=":frmUsuario" icon="ui-icon-check"/>      							
		      		</div>		
		    </h:form>
			</p:dialog>
       
	</ui:define>
	</ui:composition>
</h:body>
</html>