/* Design by http://www.dreamtemplate.com */
@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#343537;
	font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
	background:#f3f3f3 url("#{resource['images:main_bg.gif']}") repeat-x center top;
}
html, .main {
	padding:0;
	margin:0;
}
h2 {
	margin:8px 0;
	padding:8px 0;
	font-size:26px;
	font-weight:normal;
	color:#343537;
	text-transform:uppercase;
	border-bottom:2px solid #c8c8c8;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
}
a {
	color:#3183bf;
	text-decoration:underline;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
}
.header_resize {
	margin:0 auto;
	padding:0;
	width:960px;
}
h1 {
	margin:0;
	padding:24px 0 0;
	font-size:36px;
	font-weight:bold;
	line-height:1.2em;
	text-transform:none;
	letter-spacing:1px;
}
h1 a, h1 a:hover {
	color:#efeeee;
	text-decoration:none;
}
h1 span {
}
h1 small {
	display:block;
	font-size:13px;
	line-height:1.2em;
	letter-spacing:normal;
	text-transform:none;
	color:#efeeee;
}
.slider {
	margin:0 0 20px;
	padding:10px;
	background:#fff;
}
#formsearch {
	margin:0;
	padding:32px 0 0 20px;
	width:auto;
	height:30px;
}
#formsearch span {
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:url("#{resource['images:search_bg.gif']}") no-repeat left top;
}
#formsearch input.editbox_search {
	margin:0;
	padding:7px 10px;
	float:left;
	width:178px;
	font-size:12px;
	line-height:16px;
	color:#a8acb2;
	background:none;
	outline:none;
	border:none;
}
#formsearch input.button_search {
	margin:0;
	padding:0;
	border:none;
	float:left;
}
.footer {
	background:#2476ab;
	border-top:1px solid #3b8cba;
}
.footer_resize {
	margin:0 auto;
	padding:0 20px;
	width:920px;
	line-height:1.5em;
	color:#c8c8c8;
}
.footer_resize p {
	margin:24px 0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
}
.footer_resize a {
	padding:2px 4px;
	color:#3183bf;
	background:#c8c8c8;
	font-weight:normal;
	margin:0;
	border:none;
	text-decoration:none;
}
.footer_resize a:hover {
	text-decoration:none;
}
.footer_resize .lf {
	float:left;
}
.footer_resize .rf {
	float:right;
}
a {
	outline:none;
}
.ui-icon {
	width: 50px;   
    height: 50px;  
    background-image: url(#{resource['images:eliminar.png']});
}
.table {
    border: thin solid black;
}
.headers {
    text-align: left;
    font-weight: bold;
    font-style: italic;
    color: blue;
}
.oddRows {
    background-color: silver;
}
.evenRows {
    background-color: yellow;
}